@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin p-style14 {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
@mixin h-style70048 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -0.025em;
}
@mixin flex-gap($gap) {
  display: flex;
  gap: $gap;
}

$h-font-color: #111827;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include column;
  font-family: "Inter", sans-serif;
  color: $h-font-color;
  font-size: 100%;
}

body {
  max-width: 1440px;
  width: 100%;
}

section {
  // padding: 0 112px;
  padding: 0 8%;
}

.wrapper {
  max-width: 1440px;
}

.home-section {
  background-image: url(./img/Background.png);
  background-position: center;
  min-height: 866px;
  position: relative;

  .header {
    @include flex-center;
    width: 100%;
    height: 80px;
    justify-content: space-between;

    nav {
      @include flex-center;
      gap: 2rem;

      .link-list {
        @include flex-gap(24px);

        .link {
          font-weight: 600;
          text-decoration: none;
          cursor: pointer;
          font-size: 14px;
          line-height: 20px;
          color: $h-font-color;
        }
      }
    }

    .stores {
      @include flex-gap(12px);

      img {
        height: 40px;
      }

      .menu {
        width: 35px;
        height: 30px;
        margin: 10px 10px;
        position: relative;
        cursor: pointer;
        display: inline-block;
        display: none;

        span {
          background-color: #111827;
          position: absolute;
          border-radius: 2px;
          transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        }
        span:nth-child(1) {
          width: 100%;
          height: 4px;
          display: block;
          top: 0px;
          left: 0px;
        }
        span:nth-child(2) {
          width: 100%;
          height: 4px;
          display: block;
          top: 13px;
          left: 0px;
        }
        span:nth-child(3) {
          width: 100%;
          height: 4px;
          display: block;
          bottom: 0px;
          left: 0px;
        }
      }
      .menu.open {
        transform: rotate(-90deg);
      }
      .menu.open span:nth-child(1) {
        left: 3px;
        top: 12px;
        width: 30px;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        transform: rotate(90deg);
        transition-delay: 150ms;
      }
      .menu.open span:nth-child(2) {
        left: 2px;
        top: 20px;
        width: 20px;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        transform: rotate(45deg);
        transition-delay: 50ms;
      }
      .menu.open span:nth-child(3) {
        left: 14px;
        top: 20px;
        width: 20px;
        transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
        transform: rotate(-45deg);
        transition-delay: 100ms;
      }
    }
  }

  .home-content {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .left {
      h1 {
        max-width: 648px;
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
        letter-spacing: -0.025em;
        margin-top: 96px;
      }

      p {
        @include p-style14;
        color: #374151;
        margin-top: 16px;
        max-width: 648px;
      }

      .buttons {
        margin-top: 32px;
        @include flex-gap(16px);

        button {
          width: 138px;
          height: 56px;
          border-radius: 8px;
          border: none;
          padding: 16px 24px;
          color: #ffffff;
          background-color: #7c3aed;
        }

        .watch-video {
          width: 179px;
          height: 56px;
          @include flex-center-center;
          gap: 8px;
          color: #7c3aed;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .right {
      img {
        border-radius: 50px;
        box-shadow: 0px 24px 48px -12px rgba(17, 24, 39, 0.25);
      }
    }
  }

  .fix {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
}

.sponsors-section {
  min-height: 142px;
  background-color: #ffffff;
  @include flex-center-center;

  .sponsors {
    @include flex-center-center;
    border-top: 1px solid #e5e7eb;
    border-bottom: 1px solid #e5e7eb;
    min-height: 110px;
    max-width: 1216px;
    gap: 64px;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-wrap: wrap;
  }
}

.features-section {
  min-height: 748px;
  @include column;

  h1 {
    @include h-style70048;
    margin-top: 96px;
    text-align: center;
  }

  p {
    @include p-style14;
    text-align: center;
    max-width: 800px;
    margin-top: 8px;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 64px;
    margin-top: 64px;

    .feature {
      @include column;

      h1 {
        margin-top: 24px;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
      }
    }
  }
}

.stories-section {
  min-height: 892px;
  background-color: #d5fafc;
  padding-top: 120px;
  padding-left: 216px;
  @include flex-gap(32px);

  .story-block {
    background-color: #ffffff;
    padding: 32px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1),
      0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-left: 104px;

    img {
      height: 32px;
      width: 112px;
    }

    .story-content {
      margin-top: 32px;
      padding-left: 32px;
      position: relative;

      i {
        font-size: 13px;
        color: #1db5be;
        position: absolute;
        top: 0;
        left: 0;
      }

      p {
        @include p-style14;
      }

      h2 {
        font-weight: 700;
        line-height: 28px;
        font-size: 18px;
        margin-top: 24px;
        margin-bottom: 0;
      }

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #6b7280;
        margin-top: 0;
        position: absolute;
        bottom: -15px;
      }
    }
  }

  .story1 {
    width: 384px;
    height: 396px;
  }

  .story2 {
    margin: 0;
    width: 488px;
    height: 312px;
    margin-top: 76px;
  }

  .story3 {
    margin: 0;
    width: 384px;
    height: 256px;
    margin-top: 32px;
  }

  .stories-left {
    position: relative;
    @include p-style14;

    i {
      color: rgba(29, 181, 190, 0.3);
      font-size: 142px;
      position: absolute;
      top: -56px;
      left: -104px;
    }

    h1 {
      @include h-style70048;
      max-width: 488px;
      position: relative;
    }
  }
}

.achievements-section {
  min-height: 338px;
  align-items: center;
  display: flex;

  .achievements-left {
    max-width: 592px;
    h1 {
      @include h-style70048;
    }
    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
    }
  }

  .achievements-right {
    max-width: 580px;
    min-height: 178px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 40px;

    .achievement {
      display: flex;
      align-items: center;
      gap: 16px;

      div {
        width: 150px;
      }

      h1 {
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: -0.025em;
      }

      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.tools-section {
  min-height: 431px;
  padding-top: 80px;
  // max-width: 1216px;
  // width: 100%;
  // display: flex;
  // align-items: flex-start;
  // justify-content: space-between;

  .line {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    border-top: 1px solid #f3f4f6;

    .tools-left {
      max-width: 488px;

      h1 {
        @include h-style70048;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
      }
    }

    .tools-right {
      img {
        width: 100%;
      }
    }
  }
}

.mobile-section {
  min-height: 558px;
  background: #1db5be;
  @include flex-gap(32px);

  .mobile-left {
    max-width: 592px;
    margin-top: 111px;
    padding-bottom: 48px;

    h1 {
      @include h-style70048;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      margin-top: 8px;
    }

    span {
      display: block;
      margin-top: 48px;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }

    .apps {
      margin-top: 8px;
      @include flex-gap(12px);
    }
  }
  .mobile-right {
    display: flex;
    gap: 7vw;

    .phone1 {
      box-shadow: 0px 24px 48px -12px rgba(17, 24, 39, 0.25);
      border-radius: 50px;
      height: 383px;
    }

    .phone2 {
      box-shadow: 0px 24px 48px -12px rgba(17, 24, 39, 0.25);
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      align-self: flex-end;
      width: 232px;
      height: 384px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
      }
    }
  }
}

footer {
  min-height: 288px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0 112px;
  .footer-left {
    margin-top: 64px;
    .logomark {
      padding-bottom: 24px;
    }

    .footer-links1 {
      @include flex-gap(24px);
      margin-bottom: 12px;
    }

    .footer-links2 {
      @include flex-gap(24px);
      margin-bottom: 24px;
      flex-wrap: wrap;
    }
    a {
      color: white;
      text-decoration: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    span {
      color: white;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .footer-right {
    width: 176px;
    margin-top: 64px;
    padding-bottom: 40px;
    p {
      color: white;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }
    div {
      margin-top: 16px;
    }
  }
}

@media (max-width: 1400px) {
  section {
    padding: 0 5%;
  }
  footer {
    padding: 0 5%;
  }

  .stories-section {
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 80px;
    gap: 0px;
    .stories-left {
      h1 {
        max-width: 100%;
        font-size: 36px;
      }
      i {
        top: -50px;
        left: -30px;
      }
    }
    .story-block {
      width: 100%;
    }

    .story1 {
      margin: 0;
      height: 100%;
      width: 100%;
      margin-top: 24px;
    }
    .story2 {
      margin: 0;
      height: 100%;
      width: 100%;
      margin-top: 24px;
    }
    .story3 {
      margin: 0;
      height: 100%;
      width: 100%;
      margin-top: 24px;
    }
  }
}

@media (max-width: 1000px) {
  .mobile-section {
    flex-direction: column;
    gap: 0;

    .mobile-left {
      max-width: 100%;
      padding-right: 5%;
      margin-top: 80px;

      h1 {
        font-size: 36px;
        line-height: 45px;
      }
    }

    .mobile-right {
      min-height: 558px;
      justify-content: space-around;
    }
  }
}

@media (max-width: 850px) {
  .home-section {
    background-image: url(./img/tabletbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1240px;
    position: relative;
    overflow: hidden;
    .header {
      nav {
        .link-list {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          position: absolute;
          height: 200px;
          width: 100px;
          right: -100px;
          top: 80px;
          transition: 0.5s;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          padding-left: 10px;
          background-color: rgba(124, 58, 237, 0.8);
          color: #ffffff;

          .link {
            color: white;
            font-weight: 700;
            font-size: 20px;
          }
        }
        .link-list.open {
          right: 0px;
        }
      }
      .stores {
        .menu {
          display: block;
        }
      }
    }
    .home-content {
      flex-direction: column;
      align-items: center;
      padding-bottom: 80px;
      margin-top: 80px;

      .left {
        margin-top: 0px;

        h1 {
          max-width: 688px;
          margin-top: 0px;
        }
      }
    }
  }

  .features-section {
    .features {
      grid-template-columns: 1fr 1fr;
    }
  }

  .stories-section {
    flex-direction: column;
  }

  .stories-section {
    padding-left: 5%;
    .story-block {
      width: 100%;
    }

    .story1 {
      height: 100%;
      width: 100%;
    }
    .story2 {
      height: 100%;
      width: 100%;
    }
    .story3 {
      height: 100%;
      width: 100%;
    }
  }

  .achievements-section {
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: column;
    min-height: 457px;

    .achievements-left {
      max-width: 100%;
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 18px;
      }
    }
    .achievements-right {
      margin-top: 48px;
    }
  }

  .tools-section {
    .line {
      .tools-left {
        h1 {
          font-size: 36px;
          line-height: 45px;
        }
      }
      // .tools-right {
      //   width: 328px;
      // }
    }
  }
}

@media (max-width: 600px) {
  .mobile-section {
    .mobile-left {
      margin-top: 48px;
    }

    .mobile-right {
      flex-direction: column;
      align-items: center;

      .phone2 {
        align-self: auto;
      }
    }
  }
}
@media (max-width: 515px) {
  .home-section {
    .header {
      .stores {
        .google {
          display: none;
        }
        .appstore {
          display: none;
        }
      }
    }
    .home-content {
      margin-top: 48px;
    }
  }

  .features-section {
    padding-bottom: 80px;
    .features {
      grid-template-columns: 1fr;
    }
  }

  .stories-section {
    padding-top: 80px;
    .stories-left {
      h1 {
        font-size: 30px;
      }
    }
  }

  .achievements-section {
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: 560px;
    align-items: flex-start;
    .achievements-left {
      h1 {
        font-size: 30px;
        line-height: 40px;
      }
    }
    .achievements-right {
      grid-template-columns: 1fr;
    }
  }
  .tools-section {
    .line {
      padding-top: 20px;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 16px;
      }

      .tools-right {
        margin-top: 36px;
        padding-bottom: 40px;
      }
    }
  }

  footer {
    flex-direction: column;
    .footer-left {
      margin-top: 40px;
    }

    .footer-right {
      margin-top: 32px;
    }
  }
}
